<!DOCTYPE html>
<html>

<head>
  <title>BSong</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../templates/public/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="../../templates/public/css/coin-slider.css" />
  <script type="text/javascript" src="../../templates/public/js/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="../../templates/public/js/script.js"></script>
  <script type="text/javascript" src="../../templates/public/js/coin-slider.min.js"></script>
</head>

<body>
  <div class="main">
    <div class="header">
      <div class="header_resize">
        <div class="logo">
          <h1><a href="">BSong <small>Một dự án khóa JAVA tại VinaEnter Edu</small></a></h1>
        </div>
        <div class="menu_nav">
          <ul>
            <li class="active"><a href=""><span>Trang chủ</span></a>
            <li><a href=""><span>Liên hệ</span></a></li>
          </ul>
        </div>
        <div class="clr"></div>
        <div class="slider">
          <div id="coin-slider"><a href="#"><img src="../../templates/public/images/slide1.jpg" width="935" height="307"
                alt="" /></a> <a href="#"><img src="../../templates/public/images/slide2.jpg" width="935" height="307"
                alt="" /></a> <a href="#"><img src="../../templates/public/images/slide3.jpg" width="935" height="307"
                alt="" /></a></div>
          <div class="clr"></div>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="content">
      <div class="content_resize">
        <div class="mainbar">
          <div class="article">
            <h1>Nhạc trẻ</h1>
          </div>
          <div class="article">
            <h2><a href="" title="Đổi thay">Đổi thay</a></h2>
            <p class="infopost">Ngày đăng: 2017-07-02 22:09:13.0. Lượt xem: 0 <a href="#" class="com"><span>1</span></a>
            </p>
            <div class="clr"></div>
            <div class="img"><img src="../../templates/public/images/doi-thay.jpg" width="177" height="213"
                alt="Đổi thay" class="fl" /></div>
            <div class="post_content">
              <p>“Nhớ…tiếng mưa rơi ngày xưu…lúc đôi ta còn nhau, khi tình yêu… bắt đầu…….” Những ca từ quen thuộc của
                ngày nào bổng vang lên giữa một buổi chiều mưa nhẹ rơi…Đã từ rất lâu rồi tôi mới được nghe lại bài hát
                này. Bài hát khiến tôi nhớ về kỷ niệm một thời mà tôi cứ nghỡ như chuyện mới vừa xãy ra hôm qua vậy…!!!.
              </p>
              <p class="spec"><a href="" class="rm">Chi tiết &raquo;</a></p>
            </div>
            <div class="clr"></div>
          </div>
          <div class="article">
            <h2><a href="" title="Đổi thay">Only Love</a></h2>
            <p class="infopost">Ngày đăng: 2017-07-01 12:08:11.0. Lượt xem: 0 <a href="#" class="com"><span>2</span></a>
            </p>
            <div class="clr"></div>
            <div class="img"><img src="../../templates/public/images/only-love.jpg" width="177" height="213"
                alt="Only Love" class="fl" /></div>
            <div class="post_content">
              <p>có phải một ngày nào đó em cũng mãi xa cuộc đời tôi ! có phải tôi vẫn luôn là người ngộ
                nhận về một câu chuyện tình yêu tuyệt đẹp !</p>
              <p class="spec"><a href="" class="rm">Chi tiết &raquo;</a></p>
            </div>
            <div class="clr"></div>
          </div>
          <div class="article">
            <h2><a href="" title="Đổi thay">Nơi ấy con tìm về</a></h2>
            <p class="infopost">Ngày đăng: 2017-07-01 20:09:13.0. Lượt xem: 4 <a href="#" class="com"><span>3</span></a>
            </p>
            <div class="clr"></div>
            <div class="img"><img src="../../templates/public/images/noi-ay-con-tim-ve.jpg" width="177" height="213"
                alt="Nơi ấy con tìm về" class="fl" /></div>
            <div class="post_content">
              <p>Cũng đã một tuần trôi qua,...nhanh thật!. Ngày nào còn ở nhà chỉ ăn học và vui chơi nhưng
                giờ con đã nhập ngũ...!
                Thật sự giờ đây con rất nhớ nhà, nhớ ba, nhớ mẹ, và đặc biệt con rất nhớ ngoại...không
                biết giờ này ngoại ra sao? ngoại có ăn uống bình thường không?....khuya này trời mưa, không
                biết ngoại có đau nhức nữa không?...</p>
              <p class="spec"><a href="" class="rm">Chi tiết &raquo;</a></p>
            </div>
            <div class="clr"></div>
          </div>
          <p class="pages"><small>Trang 1 của 3</small>
            <span>1</span>
            <a href="">2</a>
            <a href="">3</a>
            <a href="#">&raquo;</a>
          </p>
        </div>
        <div class="sidebar">
          <div class="searchform">
            <form id="formsearch" name="formsearch" method="post" action="#">
              <span>
                <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80"
                  value="Tìm kiếm bài hát" type="text" />
              </span>
              <input name="button_search" src="../../templates/public/images/search.jpg" class="button_search"
                type="image" />
            </form>
          </div>
          <div class="clr"></div>
          <div class="gadget">
            <h2 class="star">Danh mục bài hát</h2>
            <div class="clr"></div>
            <ul class="sb_menu">
              <li><a href="#">Nhạc trẻ</a></li>
              <li><a href="#">Nhạc trữ tình</a></li>
              <li><a href="#">Rock Việt</a></li>
              <li><a href="#">Nhạc Trịnh</a></li>
              <li><a href="#">Hip Hop Việt</a></li>
            </ul>
          </div>

          <div class="gadget">
            <h2 class="star"><span>Bài hát mới</span></h2>
            <div class="clr"></div>
            <ul class="ex_menu">
              <li><a href="#">Mùa Đã Xa (Single)</a><br />
                Donec libero. Suspendisse bibendum</li>
              <li><a href="#">Chúng Ta Là Bạn Bè</a><br />
                Phasellus suscipit, leo a pharetra</li>
              <li><a href="#">Có Một Người Để Yêu</a><br />
                Tellus eleifend magna eget</li>
              <li><a href="#">Chuyện tình Lan và Điệp</a><br />
                Curabitur vel urna in tristique</li>
              <li><a href="#">Xanh tươi Việt Nam</a><br />
                Cras id urna orbi tincidunt orci ac</li>
              <li><a href="#">Tuổi hồng</a><br />
                purus nec placerat bibendum</li>
            </ul>
          </div>
        </div>
        <div class="clr"></div>
      </div>
    </div>

    <div class="footer">
      <div class="footer_resize">
        <p class="lf">Copyright &copy; <a href="#">VinaEnter Edu</a>. All Rights Reserved</p>
        <p class="rf">Code by Gia Huy - Khóa JAVA17</a></p>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</body>

</html>